# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.local
.venv/

# Local DB / data
data/
backend/data/upload_files/
*.db
*.sqlite
*.sqlite3

# Node
node_modules/
dist/
build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
